<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="caeb9e">  <td>19/03/04 00:41:12</td>   <td>0</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:tests.TestPOM@66480dd7]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/03/04 00:40:58</td>   <td>-14505</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:tests.TestPOM@66480dd7]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/03/04 00:40:59</td>   <td>-13375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:tests.TestPOM@66480dd7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/03/04 00:40:57</td>   <td>-14699</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:tests.TestPOM@66480dd7]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/03/04 00:41:12</td>   <td>-119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:tests.TestPOM@66480dd7]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/03/04 00:41:07</td>   <td>-4594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPOM.getVendorName(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TestPOM@66480dd7]">getVendorName</td> 
  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/03/04 00:40:58</td>   <td>-14510</td> <td>&nbsp;</td><td title="&gt;&gt;TestPOM.setData()[pri:0, instance:tests.TestPOM@66480dd7]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
</table>
